<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Spring Boot Application</title>
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>

    <form method="POST" action="/stock">
        <input type="text" name="ticker" placeholder = "Search for a stock"></input>
        <button type="submit">Submit</button>
    </form>

    <h4 th:text="'Total account worth: ' + ${userAccountWorth}"></h4>
    <h4 th:text="'Current Balance: $' + ${userBalance}"></h4>

    <table>
      <thead>
          <tr>
              <th> Stocks </th>
              <th> Amount </th>
              <th> Current Price </th>
              <th> Total Equity </th>
          </tr>
      </thead>
      <tbody>
        <tr th:each="stock : ${portfolio}">
          <td th:text="${stock.key}">stockName</td>
          <td th:text="${stock.value}">numOwned</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>